<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<section class="hero">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="/images/s1.jpg" art="s1"></div>
            <div class="swiper-slide"><img src="/images/s2.jpg" art="s2"></div>
            <div class="swiper-slide"><img src="/images/s3.jpg" art="s3"></div>
            <div class="swiper-slide"><img src="/images/s4.jpg" art="s4"></div>
        </div>
        <div class="swiper-scrollbar"></div>
    </div>
</section>
<!-- Initialize Swiper -->
<script>
      var swiper = new Swiper(".mySwiper", {
        scrollbar: {
          el: ".swiper-scrollbar",
          hide: true,
        },
        autoplay: {     //자동슬라이드 (false-비활성화)
          delay: 2500, // 시간 설정
          disableOnInteraction: false, // false-스와이프 후 자동 재생
        }
      });
</script>

<section class="section">
    <div class="container has-text-centered">
        <h2 class="title">The Shoes</h2>

        <div class="columns is-centered" style="padding: 2rem">
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-2by1">
                            <img src="/images/mara.jpg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">HyoJun Ahn</p>
                                <p class="subtitle is-6">@HyoJunAhn</p>
                            </div>
                        </div>

                        <div class="content">
                            shoes that won't stops
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-2by1">
                            <img src="/images/mara.jpg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">HyoJun Ahn</p>
                                <p class="subtitle is-6">@HyoJunAhn</p>
                            </div>
                        </div>

                        <div class="content">
                            shoes that won't stops
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-2by1">
                            <img src="/images/mara.jpg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">HyoJun Ahn</p>
                                <p class="subtitle is-6">@HyoJunAhn</p>
                            </div>
                        </div>

                        <div class="content">
                            shoes that won't stops
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<section class="section">
    <div class="container has-text-centered">
        <h2 class="title">Tour Dates</h2>

        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <figure class="image">
                        <img src="https://images.pexels.com/photos/374710/pexels-photo-374710.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                    </figure>
                    <p class="title">New York</p>
                    <p class="subtitle">Fri 27 Nov 2016</p>
                    <a class="button">Buy Tickets</a>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <figure class="image">
                        <img src="https://images.pexels.com/photos/374710/pexels-photo-374710.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                    </figure>
                    <p class="title">New York</p>
                    <p class="subtitle">Fri 27 Nov 2016</p>
                    <a class="button">Buy Tickets</a>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <figure class="image">
                        <img src="https://images.pexels.com/photos/374710/pexels-photo-374710.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                    </figure>
                    <p class="title">New York</p>
                    <p class="subtitle">Fri 27 Nov 2016</p>
                    <a class="button">Buy Tickets</a>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <figure class="image">
                        <img src="https://images.pexels.com/photos/374710/pexels-photo-374710.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                    </figure>
                    <p class="title">New York</p>
                    <p class="subtitle">Fri 27 Nov 2016</p>
                    <a class="button">Buy Tickets</a>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <figure class="image">
                        <img src="https://images.pexels.com/photos/374710/pexels-photo-374710.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                    </figure>
                    <p class="title">New York</p>
                    <p class="subtitle">Fri 27 Nov 2016</p>
                    <a class="button">Buy Tickets</a>
                </article>
            </div>
        </div>

        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <figure class="image">
                        <img src="https://images.pexels.com/photos/374710/pexels-photo-374710.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                    </figure>
                    <p class="title">New York</p>
                    <p class="subtitle">Fri 27 Nov 2016</p>
                    <a class="button">Buy Tickets</a>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <figure class="image">
                        <img src="https://images.pexels.com/photos/374710/pexels-photo-374710.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                    </figure>
                    <p class="title">New York</p>
                    <p class="subtitle">Fri 27 Nov 2016</p>
                    <a class="button">Buy Tickets</a>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <figure class="image">
                        <img src="https://images.pexels.com/photos/374710/pexels-photo-374710.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                    </figure>
                    <p class="title">New York</p>
                    <p class="subtitle">Fri 27 Nov 2016</p>
                    <a class="button">Buy Tickets</a>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <figure class="image">
                        <img src="https://images.pexels.com/photos/374710/pexels-photo-374710.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                    </figure>
                    <p class="title">New York</p>
                    <p class="subtitle">Fri 27 Nov 2016</p>
                    <a class="button">Buy Tickets</a>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <figure class="image">
                        <img src="https://images.pexels.com/photos/374710/pexels-photo-374710.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
                    </figure>
                    <p class="title">New York</p>
                    <p class="subtitle">Fri 27 Nov 2016</p>
                    <a class="button">Buy Tickets</a>
                </article>
            </div>
        </div>
    </div>
</section>
</body>
</html>