<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <th:block th:include="fragments/common/head"></th:block>
</head>
<body>
<div class="wrap">
    <!-- navbar -->
    <th:block th:include="fragments/common/navbar"></th:block>
    <h2>test</h2>

    <!-- footer -->
    <th:block th:include="fragments/common/footer"></th:block>
    <th:block th:include="fragments/common/script"></th:block>
</div>
</body>
</html>