<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>thymeleaf 테스트4</title>
</head>
<body>
<h1>테스트 화면</h1>
<table>
    <thead>
        <th>연번</th>
        <th>아이디</th>
        <th>비밀번호</th>
        <th>기타사항</th>
        <th>건수</th>
    </thead>
    <tbody>
        <tr th:each="sam, status : ${sampleList}">
            <td th:text="${status.index}"></td>
            <td th:text="${sam.id}"></td>
            <td th:text="${sam.pw}"></td>
            <th:block th:if="${sam.id} == 'ahj'">
                <td>관리자</td>
            </th:block>
            <th:block th:unless="${sam.id} == 'ahj'">
                <td>일반회원</td>
            </th:block>
            <td th:text="${status.size}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>