<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <a href="">
                    <i class="fab fa-facebook-square fa-2x"></i>
                </a>
                <a href="">
                    <i class="fab fa-twitter-square fa-2x"></i>
                </a>
                <a href="">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>
                <a href="">
                    <i class="fab fa-snapchat fa-2x"></i>
                </a>
            </p>
            <p>
                <a href="/">
                    <img src="/images/icon.png" alt="Made with Bulma" width="50" height="24">
                </a>
            </p>
        </div>
    </div>
</footer>
</html>