<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<nav class="navbar is-dark">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/images/icon.png" alt="Bulma: a modern CSS framework based on Flexbox" width="50" height="28">
        </a>
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Home
            </a>
            <a class="navbar-item" href="">
                Band
            </a>
            <a class="navbar-item" href="">
                Tour
            </a>
            <a class="navbar-item" href="">
                Contact
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="">
                    고객센터
                </a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" th:href="@{/board/list.do}" >
                        공지사항
                    </a>
                    <a class="navbar-item" th:href="@{/qna/list.do}">
                        질문 및 답변
                    </a>
                    <a class="navbar-item" href="">
                        후기
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-light" th:href="@{/member/loginForm.do}">
                        로그인
                    </a>
                    <a class="button is-primary" th:href="@{/member/agree.do}">
                        <strong>회원가입</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
</html>